.titlebar__controls__button {
  transition: background .2s ease;
  background: var(--mantine-color-dark-9);
  width: 42px;
  height: 100%;
  border-radius: 0;
}
.titlebar__controls__button:hover {
  transition: .2s ease;
  background: var(--mantine-color-dark-7);
  cursor: pointer;
}
.titlebar__controls__button__x:hover {
  background: var(--mantine-color-red-8);
}